*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}


body{
    background:#f6f7fb;
    color:#222;
}


/* HEADER */

header{

    background:linear-gradient(135deg,#ff5a00,#ff9f00);
    color:white;
    padding-bottom:40px;

}


.top{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 7%;

}


.top h1{

    font-size:55px;
    font-weight:900;

}


.top button{

    background:white;
    color:#ff5a00;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:20px;

}



/* BANNER */


.banner{

    text-align:center;
    padding:50px 20px;

}


.banner h2{

    font-size:55px;

}


.banner p{

    font-size:25px;
    margin:20px;

}



.search{

    display:flex;
    justify-content:center;
    margin:35px;

}


.search input{

    width:60%;
    padding:22px;
    border:none;
    border-radius:40px 0 0 40px;
    font-size:22px;

}


.search button{

    width:80px;
    border:none;
    background:#222;
    color:white;
    border-radius:0 40px 40px 0;
    font-size:25px;

}



.sell{

    background:#222;
    color:white;
    border:none;
    padding:20px 50px;
    border-radius:40px;
    font-size:25px;

}




/* KATEQORIYA */


.categories{

    padding:50px 7%;

}


h2{

    text-align:center;
    font-size:40px;
    margin-bottom:40px;

}



.cats{

    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;

}


.cats div{

    background:white;
    padding:30px;
    border-radius:25px;
    font-size:25px;
    box-shadow:0 10px 25px #0002;

}



/* PRODUCTS */


.products{

    padding:50px 7%;

}


.cards{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:35px;

}



.card{

    background:white;
    width:330px;
    padding:25px;
    border-radius:30px;
    box-shadow:0 15px 35px #0002;
    transition:.3s;

}


.card:hover{

    transform:translateY(-10px);

}



.card img{

    width:100%;
    border-radius:25px;

}



.card h3{

    font-size:30px;
    margin:20px 0;

}



.card p{

    font-size:20px;

}



.card strong{

    display:block;
    color:#ff5a00;
    font-size:30px;
    margin:20px 0;

}



.card button{

    width:100%;
    padding:18px;
    background:#ff5a00;
    color:white;
    border:none;
    border-radius:30px;
    font-size:22px;

}



/* TELEFON */

@media(max-width:700px){

.top h1{
    font-size:40px;
}


.banner h2{
    font-size:35px;
}


.search input{
    width:75%;
}


}
.form-area{

    padding:60px 20px;
    background:#f6f7fb;

}


.form{

    max-width:650px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:35px;
    box-shadow:0 15px 35px #0002;

}



.form input,
.form select,
.form textarea{

    width:100%;
    padding:20px;
    margin:15px 0;
    border:1px solid #ddd;
    border-radius:25px;
    font-size:20px;
    outline:none;

}



.form textarea{

    height:160px;
    resize:none;

}



.form input[type="file"]{

    background:#fff4eb;
    padding:15px;

}



.form .sell{

    width:100%;
    background:#ff5a00;
    color:white;
    cursor:pointer;

}



.form .sell:hover{

    background:#222;

}
