*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Segoe UI", Arial, sans-serif;
    background:#f5f8ff;
    color:#222;
    text-align:center;
}


/* Üst hissə */

.hero{

    background:linear-gradient(135deg,#0047ab,#00b4ff);
    color:white;
    padding:70px 20px;
    border-radius:0 0 60px 60px;

}


.logo{

    font-size:90px;
    font-weight:900;

}


.hero p{

    font-size:30px;
    margin:20px;

}



.search{

    margin:40px auto;

}


.search input{

    width:65%;
    max-width:700px;
    padding:25px;
    border:none;
    border-radius:40px 0 0 40px;
    font-size:25px;
    text-align:center;

}


.search button{

    padding:25px 35px;
    border:none;
    border-radius:0 40px 40px 0;
    background:#ff9800;
    color:white;
    font-size:25px;

}



.add-btn{

    background:white;
    color:#0047ab;
    border:none;
    padding:20px 40px;
    border-radius:40px;
    font-size:25px;
    cursor:pointer;

}




h2{

    font-size:45px;
    margin:50px;
    color:#0047ab;

}




.category-list{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;

}



.category-list div{

    background:white;
    padding:30px 45px;
    border-radius:30px;
    font-size:28px;
    box-shadow:0 10px 25px #0002;
    cursor:pointer;

}




.products{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:40px;
    padding:40px;

}




.product-card{

    background:white;
    width:350px;
    padding:35px;
    border-radius:40px;
    box-shadow:0 15px 35px #0002;

}



.product-image{

    height:220px;
    background:#eef5ff;
    border-radius:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:120px;

}



.product-card h3{

    font-size:35px;
    color:#0047ab;
    margin:25px;

}



.product-card p{

    font-size:25px;

}



.product-card strong{

    display:block;
    font-size:35px;
    color:#ff9800;
    margin:20px;

}



.product-card button{

    background:#0047ab;
    color:white;
    border:none;
    padding:18px 45px;
    border-radius:35px;
    font-size:23px;

}



footer{

    background:#0047ab;
    color:white;
    padding:30px;
    margin-top:50px;

}
.form-box{

    width:90%;
    max-width:700px;
    margin:50px auto;
    background:white;
    padding:45px;
    border-radius:40px;
    box-shadow:0 15px 35px #0002;

}


.form-box input,
.form-box select,
.form-box textarea{

    width:100%;
    padding:20px;
    margin:15px 0;
    border-radius:25px;
    border:1px solid #ddd;
    font-size:22px;
    text-align:center;

}


.form-box textarea{

    height:160px;
    resize:none;

}



.form-box button{

    width:100%;
    padding:22px;
    margin-top:20px;
    border:none;
    border-radius:35px;
    background:#0047ab;
    color:white;
    font-size:25px;
    cursor:pointer;

}


.form-box button:hover{

    background:#ff9800;

}
