*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}


body{
    background:#f5f6fa;
    color:#222;
}


/* HEADER */

.hero{

    background:linear-gradient(135deg,#ff6a00,#ffb000);
    color:white;
    padding-bottom:60px;

}


.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 7%;

}


.navbar h1{

    font-size:55px;
    font-weight:900;

}


.navbar button{

    background:white;
    color:#ff6a00;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:20px;

}



.welcome{

    text-align:center;
    padding:50px 20px;

}


.welcome h2{

    font-size:60px;

}


.welcome p{

    font-size:25px;
    margin:20px;

}



/* SEARCH */

.search{

    display:flex;
    justify-content:center;
    margin:35px;

}


.search input{

    width:60%;
    max-width:700px;
    padding:25px;
    border:none;
    border-radius:40px 0 0 40px;
    font-size:22px;

}



.search button{

    width:90px;
    border:none;
    background:#222;
    color:white;
    font-size:25px;
    border-radius:0 40px 40px 0;

}



.add{

    padding:20px 50px;
    border:none;
    border-radius:40px;
    background:#222;
    color:white;
    font-size:25px;
    cursor:pointer;

}



/* KATEQORIYALAR */


.categories,
.products{

    padding:60px 7%;

}


.categories h2,
.products h2{

    text-align:center;
    font-size:45px;
    margin-bottom:40px;

}



.category-list{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;

}



.category-list div{

    background:white;
    padding:30px 45px;
    border-radius:30px;
    font-size:25px;
    box-shadow:0 10px 25px #0002;

}



/* MEHSULLAR */


.products-list{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:35px;

}



.product-card{

    background:white;
    width:330px;
    padding:25px;
    border-radius:35px;
    box-shadow:0 15px 35px #0002;
    transition:.3s;

}



.product-card:hover{

    transform:translateY(-10px);

}



.product-card img{

    width:100%;
    border-radius:25px;

}



.product-card h3{

    font-size:32px;
    margin:20px 0;

}



.product-card p{

    font-size:20px;

}



.product-card strong{

    display:block;
    color:#ff6a00;
    font-size:32px;
    margin:20px 0;

}



.product-card button{

    width:100%;
    padding:18px;
    border:none;
    border-radius:30px;
    background:#ff6a00;
    color:white;
    font-size:22px;

}



/* MOBIL */

@media(max-width:700px){

.navbar h1{
    font-size:40px;
}

.welcome h2{
    font-size:38px;
}

.search input{
    width:75%;
}

}
